<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="LOG_FILE">log.xml</entry>
	<entry key="LOG_NAME">de.ifgi.sloth.geosoftware</entry>
	<entry key="LOG_LEVEL">ALL</entry>
	<entry key="DATABASE_INTERFACE">de.ifgi.sloth.geosoftware.io.db.SQLBinding</entry>
	<entry key="WMS_INTERFACE">de.ifgi.sloth.geosoftware.io.wms.OSMBinding</entry>
	<entry key="SQL_HOST">85.88.26.47</entry>
	<entry key="SQL_PORT">3306</entry>
	<entry key="SQL_USERNAME">web17</entry>
	<entry key="SQL_PASSWORD">********</entry>
	<entry key="SQL_DB_NAME">usr_web17_1</entry>
</properties>

