html,body {
	background-color:white;
	font-family:helvetica;
	font-size: 1em;
}

#header{
	color:white;
	position:absolute;
	top:0;
	left:0;
	right:0;
	background:#00008B;
	padding: .5em;
	z-index: 1;
}

#welcome {
	float: left;
}

#login {
	float: right;
}

#list,#map {
	position:absolute;
	top:2em;
	bottom:0;
}

#list{
	padding: .5em;
	left:0;
	right:30%;
}
#searchBox {
	width: 30%;
}

#map {
	left: 30%;
	right: 0;
	z-index: 0;
}
