body { /*background-color: #00008b;*/
	font: normal 13px/ 100% Verdana, Tahoma, sans-serif;
        background-color: #FFFFFF;
}

#map {
	position: absolute;
	left: 30%;
	right: 0;
	bottom: 0;
	top: 50px;
}

#list {
	position: absolute;
	left: 0;
	width: 30%;
	top: 50px;
	bottom: 0;
}

#header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 50px;
}
/* Unter jedem Nicht-Win Betriebssystem sehen die Standard-Buttons besser aus^^ */
/*
input[type="button"], input[type="submit"] {
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	color: #222222;
	border: 1px solid silver;
	background: #EEEEEE;
   } */

a:link, a:visited, a:active {
    text-decoration: none;
    color: #333333;
   }


img{
    border-width:0px;
}

table.observationlist {
    margin: 1px 1px 1px 3px;
    border-collapse: separate;
}

td.observationlist_title  {
        font: normal 12px/ 100% Verdana, Tahoma, sans-serif;
        background-color: #EEEEEE;
        padding: 5px;
              
         }

b.obsTitle {
    vertical-align: 6px;
}


p.observationlist_description {

         font: normal 12px/ 100% Verdana, Tahoma, sans-serif;
         color:  #555555;
         background-color: #EEEEEE;
       }

/* Nicht mehr notwendig
td.observationlist_icons  {
        font: normal 12px/ 100% Verdana, Tahoma, sans-serif;
        background-color: #EEEEEE;       
      } */


h4 {
    font: normal 12px/ 100% Verdana, Tahoma, sans-serif;
    color:  #555555;
    
}

h3 {
    line-height: 9pt;
}

table.footer {
    font: normal 14px/ 100% Verdana, Tahoma, sans-serif;
    color:  #222222;
}

input.search {
    background: #EEEEEE;
    border: 1px solid silver;
    height: 17px;
}

input.searchbutton {
    height: 18px;
    vertical-align: bottom;
}

div.observationlist {

}

div.map {
    border: 1px solid silver;
	height: 90%;
}

/*----------Login Page------------------*/
td.loginform {
    background-color: #EEEEEE;    
    padding: 20px 30px 20px 30px;
    }

    td.login_statement {
     font: normal 14px/ 100% Verdana, Tahoma, sans-serif;
     color:  #222222;
     vertical-align: bottom;
}

/*----------Registration Page------------------*/
td.registerform {
    background-color: #EEEEEE;
    padding: 20px 30px 20px 30px;
    }

    td.register_statement {
     font: normal 14px/ 100% Verdana, Tahoma, sans-serif;
     color:  #222222;
     vertical-align: bottom;
}

table.registerform {
    font: normal 12px/ 100% Verdana, Tahoma, sans-serif;
     color:  #222222;
}

/*----------Admin Backend------------------*/
td.admin_backend {
    font: normal 18px/ 100% Verdana, Tahoma, sans-serif;
    background-color: #EEEEEE;
    padding: 20px 30px 20px 30px;
    line-height: 2.4em;
    }

    td.admin_statement {
     font: normal 14px/ 100% Verdana, Tahoma, sans-serif;
     color:  #222222;
     vertical-align: bottom;
}

/*----------Management Backend Lists ------------------*/

table.management_lists {
    border: 0px;
    background-color: #EEEEEE;    
}

td.management_lists, tr.management_lists, th.management_lists {
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
}
td.management_lists_image {
	text-align: center;
	border-bottom: 1px solid silver;
    border-left: 1px solid silver;
}

.categorieImage {
	border: 2px solid transparent;
}

.selected {
	border: 2px solid red;
}
