body {
	/*background-color: #00008b;*/
	font-family: Verdana, sans-serif;
	font-size: 1em;
	height:100%;
    margin:0;
    padding:0;
}


#map{
	position: absolute;
	left:30%;
	right:0;
	bottom: 0;
	top:50px;
}

#list{
	position: absolute;
	left: 0;
	width: 30%;
	top:50px;
	bottom: 0;
}

#header{
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:50px;
}
/*
input[type="button"], input[type="submit"] {
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	color: #222222;
	border: 1px solid #AAAAAA;
	background: #CCCCCC;
}*/