body { /*background-color: #00008b;*/
	font: normal 13px/ 100% Verdana, Tahoma, sans-serif;
}

#map {
	position: absolute;
	left: 30%;
	right: 0;
	bottom: 0;
	top: 50px;
}

#list {
	position: absolute;
	left: 0;
	width: 30%;
	top: 50px;
	bottom: 0;
}

#header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 50px;
}
/* Unter jedem Nicht-Win Betriebssystem sehen die Standard-Buttons besser aus^^ */
	/*
input[type="button"], input[type="submit"] {
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	color: #222222;
	border: 1px solid #AAAAAA;
	background: #CCCCCC;
}*/

a:link, a:visited, a:active {
    text-decoration: none;
   }


img{
    border-width:0;
}