<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location"><value>WEB-INF/jdbc.properties</value></property>
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>${jdbc.driverClassName}</value></property>
		<property name="url"><value>${jdbc.url}</value></property>
		<property name="username"><value>${jdbc.username}</value></property>
		<property name="password"><value>${jdbc.password}</value></property>
	</bean>

	<bean id="userDao" class="org.sloth.persistence.impl.JdbcUserDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="coordinateDao" class="org.sloth.persistence.impl.JdbcCoordinateDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="observationDao" class="org.sloth.persistence.impl.JdbcObservationDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="observationCategorieDao" class="org.sloth.persistence.impl.JdbcObservationCategorieDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="passwordManager" class="org.sloth.service.impl.PasswordManagerImpl" />
	<bean id="observationManager" class="org.sloth.service.impl.ObservationManagerImpl">
		<property name="observationDao"><ref bean="observationDao" /></property>
		<property name="coordinateDao"><ref bean="coordinateDao" /></property>
		<property name="observationCategorieDao"><ref bean="observationCategorieDao" /></property>
	</bean>

	<bean id="userManager" class="org.sloth.service.impl.UserManagerImpl">
		<property name="userDao"><ref bean="userDao" /></property>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource"><ref bean="dataSource"/></property>
	</bean>
</beans>